@media (min-width: 100px) {
    .navbar-div{
        position: fixed;
        top: 0px;
        width: 100%;
        padding-top: 56px;
        padding-left: 18px;
        padding-right: 30px;
        padding-bottom: 8px;
        background: #B4E7E1;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 3;
    }
    .navbar-items{
        width: 100%;
        display: flex;
    }

    .menu-button-link{
        display: flex;
        position: relative;
        margin-top: 14px;
        margin-left: auto;
        height: 18px;
        display: flex;
        z-index: 3;
    }
    .menu-button-icon{
        width: 29px;
        height: 18px;
        background-image: url('../icons/menu-not-active-icon.svg');
        transition: all 0.2s ease;
    }
    .menu-button-icon:hover{
        width: 30px;
        height: 18px;
        background-image: url('../icons/menu-active-icon.svg');
        transition: all 0.2s ease;
    }

    .menu-button-icon:active{
        filter: brightness(90%);
    }

    .decor-navbar{
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    .arrow-my-profile-container{
        position: relative;
        margin-top: 146px;
        margin-left: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

    }

    .link-arrow-back-home{
        display: flex;
        align-items: center;
        transition: all 0.2s ease;
    }

    .link-arrow-back-home:hover{
        filter: brightness(90%);
    }

    .link-arrow-back-home:active{
        filter: brightness(80%);
    }


    .my-profile-text{
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 0px;
    }


    .user-container{
        position: relative;
        margin: 0 auto;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
    }

    .users-profile-pic{
        position: relative;
        margin: 0 auto;
        display: flex;
        width: 132px;
        height: 132px;
    }

    .user-prolfile-link{
        text-decoration: none;
    }

    .users-name-surname-decor-container{
        width: 100%;
        position: relative;
        margin: 0 auto;
        margin-top: 2px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .left-user-name-decor{
        width: 0px;
        height: 0px;
        visibility: hidden;
    }

    .right-user-name-decor{
        width: 0px;
        height: 0px;
        visibility: hidden;
    }

    .users-name-surname-container{
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;

    }

    .users-name{
        color: #3CB0A7;
        font-family: 'Baloo 2', sans-serif;
        font-size: 24px;
        font-weight: 800;
        margin-right: 4px;
        margin-bottom: 0px;
        text-align: center;
    }

    .users-surname{
        text-align: center;
        color: #3CB0A7;
        font-family: 'Baloo 2', sans-serif;
        font-size: 24px;
        font-weight: 800;
        margin-right: 4px;
        margin-bottom: 0px;
    }


    .user-other-info-container{
        position: relative;
        margin: 0 auto;
        margin-top: -3px;
        display: flex;
        flex-direction: column;
        gap: 1px;
        justify-content: center;
    }

    .user-email{
        text-align: center;
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .user-phone-number{
        text-align: center;
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .user-date-of-birth-and-gender-container{
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 13px;
    }

    .user-date-of-birth-container{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1px;
    }

    .date{
        text-align: center;
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .month{
        text-align: center;
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .year{
        text-align: center;
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .dot{
        text-align: center;
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .user-gender{
        text-align: center;
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .users-lanuguage-of-interface{
        position: relative;
        margin: 0 auto;
        margin-top: 2px;
        text-align: center;
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 2px; 
    }

    .my-courses-container{
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 3px;
        margin-left: 4px;
    }

    .my-courses-text{
        position: relative;
        display: flex;
        margin-top: auto;
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0px;
    }

    .my-courses-decor{
        position: relative;
        margin-bottom: 2.1px;
    }

    .recently-viewed-view-all-container{
        position: relative;
        margin-top: -8px;
        margin-left: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32%
    }

    .recently-viewed-text{
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .view-all-btn{
        position: relative;
        display: flex;
        flex-direction: row;
        padding-top: 7px;
        padding-bottom: 5px;
        padding-right: 43px;
        padding-left: 12px;
        background: #01CEB6;
        border-radius: 8px;
        text-decoration: none;
        transition: all 0.2s ease;
    }

    .view-all-text-container{
        position: relative;
        display: flex;
        gap: 2px;
        align-items: center;
    }

    .view-all-text{
       color: white;
       position: relative;
       margin-top: 2px;
        font-family: 'Baloo 2', sans-serif;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0px;
        transition: all 0.2s ease;
    }


    .view-all-icon{
        width: 15px;
        height: 13px;
        background-image: url('../icons/view-all-btn-arrow-not-active.svg');
        transition: all 0.2s ease;
    }

    .view-all-btn-decor{
        position: absolute;
        bottom: -1px;
        right: 1px;
    }


    .view-all-btn-decor{
        transition: all 0.2s ease;
    }

    .view-all-btn:hover{
        background: white;
        border: 2px solid #01CEB6;

        .view-all-text{
            color: #01CEB6;
        }

        .view-all-icon{
            width: 15px;
            height: 13px;
            background-image: url('../icons/view-all-btn-arrow-active.svg');
        }
    }
    
    .view-all-text:active, .view-all-icon:active, .view-all-btn-decor:active{
        filter: brightness(90%);
    }



    .recently-viewed-courses-container{
        width: 100%;
       position: relative;
       display: flex;
       flex-direction: row;
       margin-top: 0 auto;
       margin-top: 18px;
       justify-content: center;
       gap: 10%;
    }

    .recently-viewed-course-container{
        width: 150px;
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        margin-bottom: 200px;
    }

    .recently-viewed-course-cover{
        position: relative;
        display: flex;
        flex-direction: row;
    }

    .cover-carton-decor-div{
        width: 16px;
        height: 225px;
        background: #01CEB6;
        position: absolute;
        left: 0px;
        z-index: 2;
    }

    .recently-viewed-course-cover{
        width: 150px;
        height: 225px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .recently-viewed-course-name{
        text-align: center;
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .img-bottom-decor{
        width: 100%;
        height: 179px;
        position: fixed;
        bottom: -4px;
        left: 0px;
        right: 0px;
        display: flex;
        background-image: url('../img/register-bottom-decor.svg');
        background-size: contain;
        z-index: 2;
    }

    .edit-profile-link-btn{
        position: fixed;
        bottom: 146px;
        left: 50%;
        border-radius: 8px;
        transform: translate(-50%, 0%);
        background: #01CEB6;
        padding: 8px 16px;
        display: flex;
        flex-direction: row;
        gap: 11px;
        align-items: center;
        text-decoration: none;
        transition: all 0.2s ease;
        z-index: 3;
    }

    .edit-my-profile-text{
        color: white;
        font-family: 'Baloo 2', sans-serif;
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 0px;
        transition: all 0.2s ease;
    }

    .icon-edit-my-profile{
        width: 18px;
        height: 18px;
        background-image: url('../icons/edit-my-profile-btn-icon-not-active.svg');
        background-size: cover;
        transition: all 0.2s ease;
    }

    .edit-profile-link-btn:hover{
        background: white;
        border: 3px solid #01CEB6;
        .edit-my-profile-text{ color: #01CEB6;}
        .icon-edit-my-profile{
            width: 18px;
            height: 18px;
            background-image: url('../icons/edit-my-profile-btn-icon-active.svg');
            background-size: cover;
        }
        
    }

    .edit-profile-link-btn:active{
        background: white;
        border: 3px solid #01CEB6;
        filter: brightness(90%);
        .edit-my-profile-text{ color: #01CEB6;}
        .icon-edit-my-profile{
            width: 18px;
            height: 18px;
            background-image: url('../icons/edit-my-profile-btn-icon-active.svg');
            background-size: cover;
        }
    }

}

@media (min-width: 576px){

    .recently-viewed-view-all-container{
        position: relative;
        margin-top: -8px;
        margin-left: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50%
    }
    .recently-viewed-courses-container{
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: 18px;
        margin-left: 2px;
        justify-content: start;
        gap: 5%;
    }



    .left-user-name-decor{
        width: 83px;
        height: 39.94px;
        visibility: visible;
     }
 
     .right-user-name-decor{
            width: 83px;
            height: 39.94px;
         visibility: visible;
     }
     .img-bottom-decor{
        width: 100%;
        height: 179px;
        position: fixed;
        bottom: -4px;
        left: 0px;
        right: 0px;
        display: flex;
        background-image: url('../img/register-bottom-decor.svg');
        background-size: contain;
    }

    
}

@media (min-width: 768px){

    .recently-viewed-view-all-container{
        position: relative;
        margin-top: -8px;
        margin-left: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 65%
    }
    .recently-viewed-courses-container{
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: 18px;
        margin-left: 2px;
        justify-content: start;
        gap: 5%;
     }


    .left-user-name-decor{
        width: 83px;
        height: 39.94px;
        visibility: visible;
     }
 
     .right-user-name-decor{
        width: 83px;
        height: 39.94px;
         visibility: visible;
     }

     .img-bottom-decor{
        width: 100%;
        height: 179px;
        position: fixed;
        bottom: -4px;
        left: 0px;
        right: 0px;
        display: flex;
        background-image: url('../img/register-bottom-decor.svg');
        background-size: contain;
    }

    
}

@media (min-width: 992px) {

    .recently-viewed-view-all-container{
        position: relative;
        margin-top: -8px;
        margin-left: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 80%
    }

    .recently-viewed-courses-container{
       position: relative;
       display: flex;
       flex-direction: row;
       margin-top: 18px;
       margin-left: 2px;
       justify-content: start;
       gap: 3%;
    }

    


    .left-user-name-decor{
        width: 83px;
        height: 39.94px;
       visibility: visible;
    }

    .right-user-name-decor{
        width: 83px;
        height: 39.94px;
        visibility: visible;
    }


    .img-bottom-decor{
        width: 100%;
        height: 179px;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        display: flex;
        background-image: url('../img/register-bottom-decor.svg');
        background-size: contain;
    }

}
