
@media (min-width: 100px) {
    .navbar-div{
        position: fixed;
        top: 0px;
        width: 100%;
        padding-top: 56px;
        padding-left: 18px;
        padding-right: 30px;
        padding-bottom: 8px;
        background: #B4E7E1;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 3;
    }
    .navbar-items{
        width: 100%;
        display: flex;
    }

    .menu-button-link{
        display: flex;
        position: relative;
        margin-top: 14px;
        margin-left: auto;
        height: 18px;
        display: flex;
        z-index: 3;
    }
    .menu-button-icon{
        width: 29px;
        height: 18px;
        background-image: url('../icons/menu-not-active-icon.svg');
        transition: all 0.2s ease;
    }
    .menu-button-icon:hover{
        width: 30px;
        height: 18px;
        background-image: url('../icons/menu-active-icon.svg');
        transition: all 0.2s ease;
    }

    .menu-button-icon:active{
        filter: brightness(90%);
    }

    .decor-navbar{
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    .new-courses-and-message-container{
        position: relative;
        margin-top: 146px;
        margin-left: 4px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        gap: 1px;

    }

    .link-arrow-back-home{
        display: flex;
        align-items: center;
        transition: all 0.2s ease;
    }

    .link-arrow-back-home:hover{
        filter: brightness(90%);
    }

    .link-arrow-back-home:active{
        filter: brightness(80%);
    }

    .new-courses-container{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .new-courses-text{
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 0px;
    }

    .message-for-user{
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0px;
    }

    .new-course-container{
        width: 150px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }

    .new-course-cover{
        position: relative;
        display: flex;
        flex-direction: row;
    }

    .cover-carton-decor-div{
        width: 16px;
        height: 225px;
        background: #01CEB6;
        position: absolute;
        left: 0px;
        z-index: 2;
    }

    .new-course-cover-img{
        width: 150px;
        height: 225px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .new-course-name{
        width: 136px;
        height: 26px;
        overflow: scroll;
        text-align: center;
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .new-course-name::-webkit-scrollbar{
        width: 0px;
        height: 0px;
        background-color: transparent;
    }
    .new-course-name::-webkit-scrollbar-thumb{
        background-color: rgba(0, 0, 0, 0);
    }
    .old-new-course-name::-webkit-scrollbar-track{
        background-color: rgba(0, 0, 0, 0);
    }

    .col-sm-6{
        width: 45%;
        justify-content: center;
       position: relative;
       margin: 0 auto;
    }

    .new-course-container{
        justify-content: center;
        cursor: pointer;
    }

    .completed-text-div{
        position: absolute;
        padding-left: 5px;
        padding-right: 5px;
        top: 0px;
        right: 9px;
        z-index: 2;
        background: #01D664;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .completed-text{
        text-align: center;
        color: white;
        font-family: 'Baloo 2', sans-serif;
        font-size: 12px;
        font-weight: 700;
        margin-top: 2px;
        margin-bottom: 0px;
    }

    .img-bottom-decor{
        width: 100%;
        height: 179px;
        position: fixed;
        bottom: -4px;
        left: 0px;
        right: 0px;
        display: flex;
        background-image: url('../img/register-bottom-decor.svg');
        background-size: contain;
        z-index: 3;
    }

    .new-text-div{
        position: absolute;
        padding-left: 5px;
        padding-right: 5px;
        top: 0px;
        right: 9px;
        z-index: 2;
        background: #CF0609;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .new-text{
        text-align: center;
        color: white;
        font-family: 'Baloo 2', sans-serif;
        font-size: 12px;
        font-weight: 700;
        margin-top: 2px;
        margin-bottom: 0px;
    }

    .course-link{
        text-decoration: none;
    }

    .courses-div{
        margin-bottom: 200px;
    }

}

@media (min-width: 576px){
    .col-md-4{
        width: 30%;
    }
    .new-course-container{
        justify-content: center;
    }
}

@media (min-width: 768px){

    .col-md-4{
        width: 30%;
    }
    .new-course-container{
        justify-content: center;
    }
}

@media (min-width: 992px) {

    .col-lg-3{
        width: 25%;
        display: flex;
        justify-content: center;
    }
    
    .new-course-container{
        justify-content: center;
    }

}
