
@media (min-width: 100px) {

    .logo-and-greeting-div{
        position: relative;
        margin: 0 auto;
        margin-top: 47px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
    }
    
    .logo-welcome{
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    .register-text{
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        text-align: center;
        color: #419E81;
        font-family: 'Baloo 2', sans-serif;
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 0px;
    }

    .form-col{
        padding-left: 18px;
        padding-right: 18px;
    }
    
    .register-form{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: -10px;
    }
    
    .form-inputs-div{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 100%;
        margin: 0 auto;
        align-items: center;
        gap: 10px;
    }
    
    .name-input-div, .surname-input-div, .email-input-div, .password-input-div{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
    
    .name-input-label, .surname-input-label, .email-input-label, .password-input-label{
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0px;
    }
    
    .name-input, .surname-input, .email-input, .password-input{
        width: 100%;
        background: white;
        border: 1px solid #0E5A42;
        border-radius: 6px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 14px;
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 18px;
        font-weight: 500;
    }
    
    .login-div{
        position: relative;
        margin: 0 auto;
        gap: 35%;
        margin-top: 8px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-content: center;
    }
    
    .already-have-an-account-text{
        color: #0E5A42;
        font-family: 'Baloo 2', sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0px;
        transition: all 0.2s ease;
    }
    
    .log-in-link{
        color: #01CEB6;
        font-family: 'Baloo 2', sans-serif;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0px;
        text-decoration: none;
        transition: all 0.2s ease;
    }
    
    .already-have-an-account-text:hover{
        color: #0E5A42;
        filter: brightness(90%);
    }
    
    .log-in-link:hover{
        color: #01CEB6;
        filter: brightness(90%);
    }
    
    .already-have-an-account-text:active{
        filter: brightness(110%);
    }
    
    .log-in-link:active{
        filter: brightness(110%);
    }
    
    
    .register-btn{
        position: relative;
        margin: 0 auto;
        margin-top: 44px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #01CEB6;
        padding-left: 1px;
        padding-right: 6px;
        border: 0px solid transparent;
        border-radius: 12px;
        color: white;
        font-family: 'Baloo 2', sans-serif;
        font-size: 18px;
        font-weight: 800;
        transition: all 0.2s ease;
        margin-bottom: 150px;
    }
    
    .left-button-decor-img{
        margin-bottom: -2px;
    }
    
    .right-button-decor-img{
        margin-bottom: -3px;
    }
    
    .register-btn-text{
        position: relative;
        margin: 0 auto;
        margin-right: 7px;
        display: flex;
        text-align: center;
    }
    
    .register-btn:hover{
        background: white;
        color: #01CEB6;
        border: 2px solid #01CEB6;
    }
    
    .register-btn:active{
        filter: brightness(90%);
    }
    
    .img-bottom-decor{
        width: 100%;
        height: 179px;
        position: fixed;
        bottom: -4px;
        left: 0px;
        right: 0px;
        display: flex;
        background-image: url('../img/register-bottom-decor.svg');
        background-size: contain;
    }
}

@media (min-width: 576px){

    .logo-and-greeting-div{
        position: relative;
        margin: 0 auto;
        margin-top: 222px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
    }
    
    .register-form{
        width: 60%;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: -10px;
    }

        
    .login-div{
        position: relative;
        margin: 0 auto;
        gap: 32%;
        margin-top: 8px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-content: center;
    }
}

@media (min-width: 768px){

    .logo-and-greeting-div{
        position: relative;
        margin: 0 auto;
        margin-top: 122px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
    }
    
    .register-form{
        width: 60%;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: -5px;
    }

        
    .login-div{
        position: relative;
        margin: 0 auto;
        gap: 44%;
        margin-top: 8px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-content: center;
    }
}

@media (min-width: 992px) {

    .logo-and-greeting-div{
        position: relative;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
    }

    .register-form{
        width: 40%;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: -8px;
    }
    
    
    .login-div{
        position: relative;
        margin: 0 auto;
        gap: 56%;
        margin-top: 8px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-content: center;
    }

    .img-bottom-decor{
        width: 100%;
        height: 179px;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        display: flex;
        background-image: url('../img/register-bottom-decor.svg');
        background-size: contain;
    }

    .register-btn{
        margin-top: 18px;
        margin-bottom: 210px;
    }

}

