
@media (min-width: 100px) {
    .navbar-div{
        position: fixed;
        top: 0px;
        width: 100%;
        padding-top: 56px;
        padding-left: 18px;
        padding-right: 30px;
        padding-bottom: 8px;
        background: #B4E7E1;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 3;
    }
    .navbar-items{
        width: 100%;
        display: flex;
    }

    .menu-button-link{
        display: flex;
        position: relative;
        margin-top: 14px;
        margin-left: auto;
        height: 18px;
        display: flex;
        z-index: 3;
    }
    .menu-button-icon{
        width: 29px;
        height: 18px;
        background-image: url('../icons/menu-not-active-icon.svg');
        transition: all 0.2s ease;
    }
    .menu-button-icon:hover{
        width: 30px;
        height: 18px;
        background-image: url('../icons/menu-active-icon.svg');
        transition: all 0.2s ease;
    }

    .menu-button-icon:active{
        filter: brightness(90%);
    }


    .decor-navbar{
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    .arrow-whiteboard-container{
        position: relative;
        margin-top: 146px;
        margin-left: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

    }

    .link-arrow-back-home{
        display: flex;
        align-items: center;
        transition: all 0.2s ease;
    }

    .link-arrow-back-home:hover{
        filter: brightness(90%);
    }

    .link-arrow-back-home:active{
        filter: brightness(80%);
    }


    .whiteboard-text{
        color: black;
        font-family: 'Baloo 2', sans-serif;
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 0px;
    }

    .panel-of-instruments{
        position: fixed;
        bottom: 0px;
        width: 100%;
        background: #BFF1EB;
        padding: 5px 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;
        z-index: 3;
    }

    .brush-tool-btn{
        width: 48px;
        height: 48px;
        background: #01CEB6;
        border: 0px solid transparent;
        border-radius: 50%;
        padding: 13px 12px;
        transition: all 0.2s ease;
    }

    .brush-tool-icon{
        background-image: url('../icons/brush-whiteboard-not-active.svg');
        background-size: cover;
        width: 24px;
        height: 22px;
        position: relative;
        margin: 0 auto;
        transition: all 0.2s ease;
    }

    .rubber-tool-btn{
        width: 48px;
        height: 48px;
        background: #01CEB6;
        border: 0px solid transparent;
        border-radius: 50%;
        padding: 12px 13px;
        transition: all 0.2s ease;
    }

    .rubber-tool-icon{
        background-image: url('../icons/rubber-whiteboard-not-active.svg');
        background-size: cover;
        width: 22px;
        height: 24px;
        position: relative;
        margin: 0 auto;
        transition: all 0.2s ease;
    }

    .text-tool-btn{
        width: 48px;
        height: 48px;
        background: #01CEB6;
        border: 0px solid transparent;
        border-radius: 50%;
        padding: 15px 14px;
        transition: all 0.2s ease;
    }

    .text-tool-icon{
        background-image: url('../icons/text-tool-whiteboard-not-active.svg');
        background-size: contain;
        width: 20px;
        height: 20px;
        position: relative;
        margin: 0 auto;
        transition: all 0.2s ease;
    }

    .clear-all-tool-btn{
        width: 48px;
        height: 48px;
        background: #01CEB6;
        border: 0px solid transparent;
        border-radius: 50%;
        padding: 15px 11px;
        transition: all 0.2s ease;
    }

    .clear-all-tool-icon{
        background-image: url('../icons/clear-all-whiteboard-not-active.svg');
        background-size: contain;
        width: 26px;
        height: 18px;
        position: relative;
        margin: 0 auto;
        transition: all 0.2s ease;
    }

    .current-color-tool-btn{
        position: relative;
        background: #BFF1EB;
        width: 94px;
        height: 94px;
        border: 0px solid transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }

    .current-color{
        background: #000000;
        width: 84px;
        height: 84px;
        border: 0px solid transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }

    .brush-tool-btn:hover{
        background: white;
        .brush-tool-icon{
            background-image: url('../icons/brush-whiteboard-active.svg');
        }
    }

    .brush-tool-btn:active{
        background: white;
        filter: brightness(85%);
        .brush-tool-icon{
            background-image: url('../icons/brush-whiteboard-active.svg');
        }
    }

    .rubber-tool-btn:hover{
        background: white;
        .rubber-tool-icon{
            background-image: url('../icons/rubber-whiteboard-active.svg');
        }
    }

    .rubber-tool-btn:active{
        background: white;
        filter: brightness(85%);
        .rubber-tool-icon{
            background-image: url('../icons/rubber-whiteboard-active.svg');
        }
    }

    .text-tool-btn:hover{
        background: white;
        .text-tool-icon{
            background-image: url('../icons/text-tool-whiteboard-active.svg');
        }
    }

    .text-tool-btn:active{
        background: white;
        filter: brightness(85%);
        .text-tool-icon{
            background-image: url('../icons/text-tool-whiteboard-active.svg');
        }
    }

    .clear-all-tool-btn:hover{
        background: white;
        .clear-all-tool-icon{
            background-image: url('../icons/clear-all-whiteboard-active.svg');
        }
    }

    .clear-all-tool-btn:active{
        background: white;
        filter: brightness(85%);
        .clear-all-tool-icon{
            background-image: url('../icons/clear-all-whiteboard-active.svg');
        }
    }

    .color-palette-to-choose-container{
        position: fixed;
        bottom: 122px;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 90%;
        padding-top: 18px;
        padding-left: 21px;
        padding-right: 21px;
        padding-bottom: 70px;
        border-radius: 8px;
        background: #BFF1EB;
        display: flex;
        flex-direction: column;
        gap: 14px;
        justify-content: center;
        z-index: 3;
        visibility: hidden;
    }

    .colors-row{
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: 7px;
        align-items: center;
    }

    .color-to-choose{
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 0px solid transparent;
        transition: all 0.2s ease;
    }

    .color-to-choose:hover{
        filter: brightness(110%);
    }

    .color-to-choose:active{
        filter: brightness(90%);
    }

    .red{
        background: #E72929;
    }

    .orange{
        background: #EC472A;
    }

    .yellow{
        background: #FFCF32;
    }

    .green{
        background: #47BD3D;
    }

    .cyan{
        background: #36CCA9;
    }

    .sky-blue{
        background: #35A6C5;
    }

    .dark-blue{
        background: #4050F5;
    }

    .purple{
        background: #B63AEF;
    }

    .violet{
        background: #F648FF;
    }

    .pink{
        background: #FF6CA7;
    }

    .brown{
        background: #803A3A;
    }

    .white{
        background: #FFFFFF;
    }

    .black{
        background: #000000;
    }

    .grey{
        background: #656565;
    }

    .container-for-drawing{
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        height: 1000px;
    }

}

@media (min-width: 576px){
    
    .panel-of-instruments{
        position: fixed;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 60%;
    }
    .colors-row{
        gap: 11px;
    }
}

@media (min-width: 768px){

    .panel-of-instruments{
        position: fixed;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 60%;
    }

    .color-palette-to-choose-container{
        left: 50%;
        transform: translate(-50%, 0%);
        width: 50%;
    }
    
    .colors-row{
        gap: 11px;
    }

}

@media (min-width: 992px) {

    .panel-of-instruments{
        position: fixed;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 40%;
    }

    .color-palette-to-choose-container{
        left: 50%;
        transform: translate(-50%, 0%);
        width: 30%;
        
    }

    .colors-row{
        gap: 15px;
    }

}
